<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zzjjcc.mapper.maria.eqb.TbB2Mapper">
    <insert id="simpleInsertTbB2">
        insert into tb_b2(c2) values (#{c2})
    </insert>

    <select id="list" resultType="map">
        select id,c2 from tb_b2
    </select>
</mapper>