<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zzjjcc.mapper.EmployeeMapper">
    <resultMap id="baseResultMap" type="zzjjcc.model.Employee">
        <id column="employee_id" property="employeeId" jdbcType="INTEGER"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="hire_date" property="hireDate" jdbcType="DATE"/>
        <result column="job_id" property="jobId" jdbcType="VARCHAR"/>
        <result column="salary" property="salary" jdbcType="DOUBLE"/>
        <result column="commission_pct" property="commissionPct" jdbcType="DOUBLE"/>
        <result column="manager_id" property="managerId" jdbcType="INTEGER"/>
        <result column="department_id" property="departmentId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="baseSql">
        employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,commission_pct,manager_id,department_id
    </sql>

    <select id="queryEmployeeById" resultMap="baseResultMap">
        select
        <include refid="baseSql"/>
        from employees
        <where>
            employee_id = #{id}
        </where>
    </select>

    <insert id="insertEmployee">
    </insert>

    <update id="updateEmployee">
    </update>

    <delete id="deleteEmployee">
    </delete>

    <select id="getEmployees" resultType="zzjjcc.model.Employee">
        select
        <include refid="baseSql"/>
        from employees
    </select>
</mapper>